# Data Cleaning 
The first step is to clean both datasets for further analysis

In [2]:
# Import libs
import pandas as pd
import numpy as np

In [37]:
# Read database 1 
data_f1 = pd.read_csv("data_f1.csv")
data_f1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [4]:
# General data_f1 view
data_f1.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882

In [5]:
# Review data_f1 information 
data_f1.shape

(10683, 11)

In [6]:
# Review data_f1 columns 
data_f1.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [7]:
# Review data_f1 general information
data_f1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [8]:
# Review the data and how many rows have missing information in each columns
data_f1.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [9]:
# Find rows with null values in the Route and Total_Stops columns.
null_rows = data_f1[data_f1['Route'].isnull() | data_f1['Total_Stops'].isnull()]
print(null_rows)

        Airline Date_of_Journey Source Destination Route Dep_Time  \
9039  Air India       6/05/2019  Delhi      Cochin   NaN    09:45

      Arrival_Time Duration Total_Stops Additional_Info  Price
9039  09:25 07 May  23h 40m         NaN         No info   7480

In [21]:
# Delete rows with null values in the Route and Total_Stops columns.
data_f1 = data_f1.dropna(subset=['Route', 'Total_Stops'])

In [23]:
# Review the data and how many rows have missing information in each columns
data_f1.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [27]:
# check duplicated data
duplicate_rows = data_f1[data_f1.duplicated()]
print(duplicate_rows)

           Airline Date_of_Journey    Source Destination  \
683    Jet Airways       1/06/2019     Delhi      Cochin
1061     Air India      21/05/2019     Delhi      Cochin
1348     Air India      18/05/2019     Delhi      Cochin
1418   Jet Airways       6/06/2019     Delhi      Cochin
1674        IndiGo      24/03/2019  Banglore   New Delhi
...            ...             ...       ...         ...
10594  Jet Airways      27/06/2019     Delhi      Cochin
10616  Jet Airways       1/06/2019     Delhi      Cochin
10634  Jet Airways       6/06/2019     Delhi      Cochin
10672  Jet Airways      27/06/2019     Delhi      Cochin
10673  Jet Airways      27/05/2019     Delhi      Cochin

                       Route Dep_Time  Arrival_Time Duration Total_Stops  \
683    DEL ? NAG ? BOM ? COK    14:35  04:25 02 Jun  13h 50m     2 stops
1061   DEL ? GOI ? BOM ? COK    22:00  19:15 22 May  21h 15m     2 stops
1348   DEL ? HYD ? BOM ? COK    17:15  19:15 19 May      26h     2 stops
1418   DEL ? JAI ? BOM ? COK    05:30  04:25 07 Jun  22h 55m     2 stops
1674               BLR ? DEL    18:25         21:20   2h 55m    non-stop
...                      ...      ...           ...      ...         ...
10594  DEL ? AMD ? BOM ? COK    23:05  12:35 28 Jun  13h 30m     2 stops
10616  DEL ? JAI ? BOM ? COK    09:40  12:35 02 Jun  26h 55m     2 stops
10634  DEL ? JAI ? BOM ? COK    09:40  12:35 07 Jun  26h 55m     2 stops
10672  DEL ? AMD ? BOM ? COK    23:05  19:00 28 Jun  19h 55m     2 stops
10673  DEL ? AMD ? BOM ? COK    13:25  04:25 28 May      15h     2 stops

                   Additional_Info  Price
683                        No info  13376
1061                       No info  10231
1348                       No info  12392
1418   In-flight meal not included  10368
1674                       No info   7303
...                            ...    ...
10594                      No info  12819
10616                      No info  13014
10634  In-flight meal not included  11733
10672  In-flight meal not included  11150
10673                      No info  16704

[220 rows x 11 columns]

In [31]:
# Delete duplicate rows, keeping the first occurrence
data_f1 = data_f1.drop_duplicates()

In [35]:
data_f1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [10]:
# Read database 2
data_f2 = pd.read_csv("data_f2.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'data_f2.csv'

In [ ]:
# General data_f1 view
data_f2.head(3)

In [ ]:
# Review data_f1 general information
data_f2.info()

In [ ]:
# Review the data and how many rows have missing information in each columns
data_f1.isna().sum()